{% extends 'associacao/base.html' %}

{% block title %}Inscrição{% endblock %}

{% block content %}

<style>

.form{
max-width:500px;
margin:auto;
background:white;
padding:30px;
border-radius:15px;
}

.form input{
width:100%;
padding:12px;
margin-bottom:15px;
border-radius:8px;
border:1px solid #ddd;
}

.form button{
width:100%;
padding:12px;
background:linear-gradient(90deg,#0048ff,#00c6ff);
color:white;
border:none;
border-radius:8px;
}

</style>

<div class="form">

<h2>📝 Inscrição ASSGA</h2>

{% if message %}
    <div class="message">{{ message }}</div>
{% endif %}

{% if success %}
    <div class="success">{{ success }}</div>
{% endif %}

<form method="post">
{% csrf_token %}

<input name="nome" placeholder="Nome" required>
<input name="cpf" placeholder="CPF" required>
<input type="password" name="senha" placeholder="Senha" required>
<input type="password" name="confirmar_senha" placeholder="Confirmar Senha" required>
<input name="telefone" placeholder="Telefone">
<input name="email" placeholder="Email">

<button>Registrar</button>

</form>


</div>

{% endblock %}
